h1{
    color:rgb(179, 0, 0);
    background-color: rgb(83, 227, 227);
    background-repeat: repeat-y;
    background-image: url("https://i.blogs.es/8256d5/gpu-openai-chatgpt/500_333.jpeg");
    padding: 50px;
    margin: 75px;
}
img{
    float:right;
    padding-left:50px;
    margin-left: 20px;
}
p {background-color: rgb(231, 149, 149);}